<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog V2</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="https://res.cloudinary.com/bimoarifw/image/upload/v1657888836/bimoarifwlogo_yskk2j.png" type="image/x-icon">

</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Web V.1</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="hero"></div>
        <div class="utama">
            <div class="artikel">
                <h1>Judul Artikel</h1>
                <span>ditulis oleh <a href="#">bimoarifw</a> pada tanggal 9 Juli 2022</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci excepturi dignissimos assumenda
                    dicta
                    quibusdam, magnam nesciunt rem fugit ratione quaerat optio voluptatibus cum iure pariatur, id
                    explicabo
                    reprehenderit, ducimus repellat!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi tempore pariatur assumenda
                    aspernatur
                    recusandae aliquam voluptas, blanditiis, aliquid culpa totam ab reiciendis commodi. Veniam quia
                    earum
                    minus, tempore, unde nemo, numquam facere expedita sapiente blanditiis vitae quibusdam aut
                    exercitationem quas suscipit. Facilis tenetur tempora rerum. Reprehenderit, voluptatum tempora
                    expedita
                    ratione necessitatibus sapiente excepturi similique doloremque possimus enim amet deleniti.
                    Optio
                    sint
                    doloribus excepturi minus odit recusandae, voluptate facilis magnam ex dolor, quod expedita
                    cumque
                    vel
                    culpa consequuntur, adipisci fuga repellat. Tempora quaerat neque, nostrum harum qui, explicabo
                    maiores
                    vel dicta alias ratione, deserunt obcaecati! Maxime molestiae deleniti ducimus quasi dolorem!
                </p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et tempora molestias tenetur quaerat
                    veritatis
                    earum nobis nisi error minus! Reiciendis earum ratione, id quae exercitationem aspernatur,
                    reprehenderit
                    assumenda et quis modi debitis, rem nihil. Tenetur a obcaecati, nulla unde earum vitae eos,
                    facilis
                    facere, consectetur at cupiditate ea autem! Eaque ducimus dolores necessitatibus veritatis
                    excepturi
                    perferendis sint quae perspiciatis maiores similique quo temporibus quia eveniet recusandae,
                    error,
                    labore ex, modi aut libero. Recusandae perspiciatis rem nemo tempora. Totam amet, voluptates
                    eius
                    voluptas omnis corporis officia quis maxime illo minus est, recusandae, doloremque dolore
                    voluptate
                    assumenda tempore asperiores dolores nam eligendi cupiditate aspernatur consequatur? Repellendus
                    quos
                    minus assumenda laudantium fuga incidunt deleniti velit nihil consequuntur nemo unde officia
                    est,
                    accusamus ratione earum optio hic nam debitis qui? Eligendi est quibusdam maiores. Sit
                    architecto
                    earum
                    laudantium illo quae, adipisci possimus iste sequi vero soluta animi expedita ipsam distinctio
                    atque
                    doloremque ab, provident ipsa ipsum libero velit est, magnam laborum ad! Suscipit mollitia sit
                    nobis,
                    repellendus repellat ad aliquid incidunt reiciendis. Maiores vitae maxime aliquam, alias,
                    assumenda,
                    tenetur ex voluptas quisquam vel vero sequi placeat nihil dolores at? Sequi eos, maxime laborum
                    incidunt, aperiam iusto sapiente doloremque recusandae tempora assumenda id doloribus
                    accusantium.
                </p>
            </div>
            <div class="sidebar">
                <h3>Tentang Penulis</h3>
                    <img src="https://res.cloudinary.com/internet-zoid/image/upload/v1657346371/latihan/289002114_1504575706641201_5339510041050546911_n_1_odocem.jpg"
                        alt="">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque tempora animi totam. Quo
                        quas
                        ipsa, quidem earum est quod fugiat in veniam ullam. Consequatur laborum ducimus repellat ea.
                        Inventore earum quam illo similique consequatur assumenda non recusandae quibusdam mollitia sit
                        eos
                        dignissimos odit libero voluptate cupiditate rerum placeat sapiente nostrum voluptatibus, sequi
                        modi
                        commodi asperiores nulla accusamus. Quae blanditiis vero deserunt tenetur, fugit quisquam. Rem
                        libero necessitatibus beatae dolore iure quo. Neque illum nam explicabo ut modi eos, ea veniam
                        temporibus dolorum maiores excepturi magni repudiandae consectetur, delectus perferendis
                        laboriosam
                        facere aperiam, cupiditate recusandae quis? Blanditiis minus consequatur nemo modi!</p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="footer">
            <p>Copyright 2022. bimoarifw</p>
        </div>
    </div>
</body>

</html>