* {
    margin: 0;
    padding: 0;
}

body {
    width: 900px;
    margin: auto;
    background-color: #7f7e80;
    font: 14px/28px roboto;
}

.container {
    background-color: #eaeaea;
}

.header {
    padding: 10px;
}

.header h1 {
    font-size: 40px;
    margin-bottom: 10px;
    font-family:fantasy;
}

.header a {
    text-decoration: none;
    color: saddlebrown;
    padding: 6px;
}

.header a:hover {
    background-color: saddlebrown;
    border-radius: 10px;
    color: #eaeaea;
}

.header ul li {
    padding-top: 10px;
    display: inline-block;
    margin-right: 10px;
}

.hero {
    height: 250px;
    background-image: url('https://cdn.pixabay.com/photo/2014/05/21/15/18/musician-349790_960_720.jpg');
    background-size: cover;
    background-position: 0 -150px;
    margin-top: 10px;
    border-top: 8px solid saddlebrown;
    border-bottom: 8px solid blueviolet;
}

.artikel {
    width: 600px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}
.artikel h1 {
    font-size: 35px;
    text-align: center;
    margin: 30px 0px 20px 0px;
}

.artikel span {
    font-size: 12px;
    margin-left: 273px;

}

.artikel span a {
    text-decoration: none;
    color: saddlebrown;
    display: inline-block;
    margin-bottom: 5px;
}

.artikel span a:hover {
    background-color: saddlebrown;
    border-radius: 10px;
    color: #eaeaea;
}

.artikel p {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 10px;
    text-indent: 50px;
}
.sidebar {
    float: right;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
}
.sidebar img {
    width: 70px;
    height: 70px;
    padding-right: 12px;
    float: left;
}
.sidebar h3 {
    font-size: 20px;
    color: blueviolet;
    margin-bottom: 20px;
    font-weight: bold;
}
.sidebar p {
    margin-top: -10px;
    font-size: 14px;
    font-family: sans-serif;
    text-align: justify;
}
.footer {
    margin-top: 10px;
    background-color: saddlebrown;
    text-align: center;
    padding: 2px;
}
.clearfix {
    clear: both;
}