* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
    font-family: 'Caveat Brush', cursive;
    font-family: 'Nunito', sans-serif;
}

:root {
    --primary-color: #F7F6F2;
    --second-color: #082c6c;
    --text-color: #fff;
    --text-color-span: #082c6c;
    --third-color: red;
    --fourth-color: green;
    --fifth-color: orange;
}

section {
    padding: 80px 15%;
}


body {
    background-color: var(--primary-color);
}

span {
    color: var(--text-color-span);
    /* font-family: 'Caveat', cursive; */
}

.logo {
    /* text-transform: uppercase; */
    height: 2em;
    width: 8em;
    padding: 10px;
    margin-left: 30px;
    line-height: 2em;
}

.logo h3 {
    font-family: 'Caveat Brush', cursive;
    font-size: 2.5em;
    font-style: italic;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.logo h3 span {
    font-family: 'Caveat Brush', cursive;
}
.logo a {
    color: #000000;
}

h4.danger,
h4.safe,
h4.caution {
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: var(--third-color); */
    font-family: 'Caveat', cursive;
}

h4.danger {
    color: var(--third-color);
}

h4.safe {
    color: var(--fourth-color);
}

h4.caution {
    color: var(--fifth-color);
}

h4.danger i,
h4.safe i,
h4.caution i {
    color: var(--text-color);
    margin-left: 5px;
    font-size: 13px;
    line-height: 15px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

h4.danger i {
    background: var(--third-color);
}

h4.safe i {
    background: var(--fourth-color);
}

h4.caution i {
    background-color: var(--fifth-color);
}

img {
    width: 100%;
    height: auto;
}

header {
    background-color: var(--primary-color);
    border-radius: 0 0 2px 2px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 2;
}
/* Jumbotron */

.notes {
    background-color: #ffdddd;
    border-left: 1em solid var(--fourth-color);
    border-radius: 1em;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: var(--text-color-span);
}

span.notes {
    font-size: 14px;
    font-weight: bold;
}

.jumbotron__text p{
    line-height: 30px;
    text-align: justify;
}

.jumbotron__text h1 {
    font-size: 3em;
    text-transform: uppercase;
    line-height: 50px;
}

.jumbotron__text h3 {
    padding-top: 12px;
    /* color: var(--second-color); */
    font-style: italic;
}

.jumbotron__text h3 a {
    color: var(--second-color);
}

.jumbotron__keterangan {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* TABLE INI TERINSPIRASI OLEH MATT SMITH CODEPEN */

.jumbotron__tabel {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.jumbotron__tabel td,
.jumbotron__tabel th {
    padding: 1em;
    text-align: center;
}

.jumbotron__tabel tr {
    background: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: .4em;
}

.jumbotron__tabel th {
    font-size: 1.2em;
    letter-spacing: .1em;
    text-transform: uppercase;
}


/* Project */

.project h1 {
    text-align: center;
    font-size: 3em;
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

.project__bungkus {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
    gap: 2em;

}

.project__card {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 2em;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card__show {
    padding-bottom: 2em;
}

.card__show h2 {
    font-size: 3em;
    font-family: 'Caveat Brush', cursive;
}

.card__show p {
    padding: 0 10px;
}

.card__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.img__warp {
    position: relative;
    overflow: hidden;
}

.img__deskripsi {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
    color: var(--text-color);
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
    cursor: pointer;
}
p.img__deskripsi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__warp:hover .img__deskripsi {
    visibility: visible;
    opacity: 1;
}
.img__warp img {
    transition: all .6s;
}
.img__warp:hover img {
    transform: scale(1.5);
}
.p__mobile {
    position: absolute;
    visibility: hidden;
}

button {
    margin: 5px;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    background: var(--second-color);
    border: none;
    border-radius: 2em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    position: relative;
    cursor: pointer;
}

button span {
    transition: .4s;
}

button .button__text {
    font-family: 'Caveat', cursive;
    transform: translateX(35px);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 30px;
}

button .button__icon {
    position: absolute;
    border-left: 1px solid var(--text-color);
    height: 40px;
    width: 40px;
    transform: translateX(110px);
    display: flex;
    justify-content: center;
    align-items: center;

}

button .button__icon i {
    font-size: 1.5em;
    color: var(--text-color);
}

button:hover {
    background: var(--second-color);
}

button:hover .button__text {
    color: transparent;
}

button:hover .button__icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

button:focus {
    outline: none;
}

button:active .button__icon i {
    transform: scale(1.2);
}

/* Footer */

.footer {
    padding: 20px 15%;
}
.footer a {
    color: var(--text-color-span);
    font-family: 'Caveat', cursive;
    margin-right: 5px;
    margin-left: 5px;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .project {
        padding: 10px 5%;
    }

    .project__bungkus {
        grid-template-columns: 1fr;
    }
    .jumbotron__tabel {
        border: 0;
        box-shadow: none;
    }
    .jumbotron__text p {
        text-align: left;
    }
    section.jumbotron {
        padding: 100px 5%;
    }

    .jumbotron__text h1 {
        font-size: 2.5em;
    }

    .jumbotron__tabel thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .jumbotron__tabel tr {
        /* border-bottom: 3px solid #ddd; */
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        border-radius: 1em;
        display: block;
        margin-bottom: 1em;
    }

    .jumbotron__tabel td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .jumbotron__tabel td::before {
        content: attr(data-keterangan);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .jumbotron__tabel td:last-child {
        border-bottom: 0;
    }

    td h4.danger,
    td h4.caution,
    td h4.safe {
        justify-content: right;
    }
    .p__mobile {
        position: relative;
        visibility: visible;
    }
    .footer {
        padding: 20px 5% 0 5%;
        text-align: center;
    }
    .footer__teks {
        font-size: 14px;
    }
}