<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js" data-auto-replace-svg></script>
  <title>bimoarifw</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;900&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="shortcut icon" href="https://res.cloudinary.com/bimoarifw/image/upload/v1657888836/bimoarifwlogo_yskk2j.png" type="image/x-icon">
</head>

<body>
  <div class="atas">
    <!-- <nav>
      <a href="#">
        <h2 class="logo">Bi<span>mo</span></h2>
      </a>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Skill</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav> -->
    <!-- Perkenalan -->


    <div class="perkenalan">
      <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
        <h4>Hello my name is</h4>
        <h1>Bimo <span>Arif</span> W</h1>
        <h3>I am a long life learner</h3>
        <div class="tombol">
          <a class="tombolperkenalan" href="#">Hire me!</a>
        </div>
      </div>
    </div>
    <!-- FOTO -->
    <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
      <div class="fotobesar">
        <img class="imgdepan" src="https://res.cloudinary.com/bimoarifw/image/upload/v1657473176/background.jpg">
        <!-- <img class="imgbelakang" src="https://res.cloudinary.com/bimoarifw/image/upload/v1657473176/background.jpg" alt=""> -->
        <div class="bulat1"></div>
        <div class="bulat2"></div>
        <div class="bulat3"></div>
      </div>
    </div>
  </div>
  <div class="tengah">
    <div class="tentang">
      <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
        <img src="https://res.cloudinary.com/bimoarifw/image/upload/v1657515027/Bimo1.jpg" alt="bimo">
        <div class="bola1"></div>
        <div class="bola2"></div>
        <div class="bola3"></div>
      </div>
      <div data-aos="fade-left">
        <div class="tentang-text">
          <h2>Tentang <span>Saya</span></h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos a vel, itaque minus cum laudantium
            animi quaerat commodi placeat dolorum consectetur deleniti architecto harum fugit eius molestias maxime
            expedita ratione.</p>
          <div class="tombol">
            <a class="tomboltentang" href="#">Hire me!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <!-- BAWAH -->

  <div class="bawah">
    <div data-aos="fade-up">
      <div class="judulbawah">
        <h2>Serv<span>ices</span></h2>
      </div>
    </div>
    <div data-aos="zoom-in" data-aos-duration="3000">
      <div class="kotak">
        <div class="kartu">
          <i class="fa-solid fa-code"></i>
          <h5>Services</h5>
          <div class="tulisankartu">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus incidunt repudiandae vitae beatae nulla
              adipisci repellat, quae rem rerum illum deleniti voluptatibus velit aliquam perspiciatis neque, animi
              dolor!
              Ea, soluta.</p>
          </div>
        </div>
      </div>
      <div class="kotak">
        <div class="kartu">
          <i class="fa-brands fa-dev"></i>
          <h5>Services</h5>
          <div class="tulisankartu">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus incidunt repudiandae vitae beatae nulla
              adipisci repellat, quae rem rerum illum deleniti voluptatibus velit aliquam perspiciatis neque, animi
              dolor!
              Ea, soluta.</p>
          </div>
        </div>
      </div>
      <div class="kotak">
        <div class="kartu">
          <i class="fa-solid fa-clock"></i>
          <h5>Services</h5>
          <div class="tulisankartu">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus incidunt repudiandae vitae beatae nulla
              adipisci repellat, quae rem rerum illum deleniti voluptatibus velit aliquam perspiciatis neque, animi
              dolor!
              Ea, soluta.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Kontak -->
  <div class="Kontak">
    <div data-aos="zoom-out-up">

      <div class="center">
        <h3>Formulir <span>Kontak</span></h3>
      </div>
      <form action="#" name="formulir">
        <label for="nama_awal">First Name</label>
        <input name="nama_awal" type="text" required placeholder="Bimo" />
        <br>
        <label for="nama_akhir">Last Name</label>
        <input name="nama_akhir" type="text" required placeholder="Arif" />
        <br>
        <label for="email">Email</label>
        <input name="email" type="email" required placeholder="emailmu@mail.com" />
        <br>
        <label for="pesan">Message</label><br>
        <textarea name="pesan" cols="30" rows="10" required placeholder="Enter your message here ..."></textarea>
        <div class="center">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
  <div class="futer">
    <div class="logo">
      <h1>BIMO<span>ARIF</span>W</h1>
    </div>
    <div class="teksfuter">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse mollitia hic dolores in! Pariatur dolorem
        dolor,
        culpa consectetur beatae dicta repudiandae ex rerum voluptas numquam ut cupiditate, suscipit libero molestias.
      </p>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="clear"></div>
    <div class="copiraik">
      <p>Copyright 2022. @bimoarifw</p>
    </div>
  </div>
</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</html>