<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js" data-auto-replace-svg></script>
    <title>Search Engine</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla:wght@200&display=swap"
        rel="stylesheet">
        <link rel="shortcut icon" href="https://res.cloudinary.com/bimoarifw/image/upload/v1657888836/bimoarifwlogo_yskk2j.png" type="image/x-icon">

</head>

<body>
    <div class="lingkarankecil1"></div>
    <div class="lingkarankecil2"></div>
    <div class="lingkarankecil3"></div>
    <div class="lingkaranbesar1"></div>
    <div class="lingkaranbesar2"></div>
    <div class="lingkaranbesar3"></div>
    <div class="text">
        <h1>Apa yang ingin anda cari?</h1>
    </div>
    <div class="cari">
        <div class="cari-kotak">
            <input class="cari-text" type="text" placeholder="Ketik tulisanmu!">
            <a class="cari-tombol" href="#">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </div>
    </div>
</body>

</html>