@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}


body {
    overflow: hidden;
    background-color:
    #23395d ;
    width: 1980px;
    height: 1080px;
}

.lingkarankecil1 {
    width: 1000px;
    height: 1000px;
    position: absolute;
    bottom: 10px;
    right: 1150px;
    background-color: 
    #152238 ;
    border-radius: 50%;
    z-index: -1;
}

.lingkarankecil2 {
    width: 1000px;
    height: 1000px;
    position: absolute;
    bottom: 0px;
    right: 1100px;
    background-color: #192841;
    border-radius: 50%;
    z-index: -2;
}

.lingkarankecil3 {
    width: 1000px;
    height: 1000px;
    position: absolute;
    bottom: -10px;
    right: 1050px;
    background-color: #1c2e4a ;
    border-radius: 50%;
    z-index: -3;
}

.lingkaranbesar1 {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 10px;
    left: 1150px;
    background-color: 
    #152238 ;
    border-radius: 50%;
    z-index: -1;
}

.lingkaranbesar2 {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0px;
    left: 1100px;
    background-color: #192841 ;
    border-radius: 50%;
    z-index: -2;
}

.lingkaranbesar3 {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: -10px;
    left: 1050px;
    background-color: #1c2e4a ;
    border-radius: 50%;
    z-index: -3;
}

.text {
    position: absolute;
    top: 38%;
    left: 40%;
    color: 
    #b98a8aea ;
}

.cari {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cari-kotak {
    background-color: 
    #152238 ;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.cari-tombol {
    color: #cdd1e4;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: 
    #152238 ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.cari-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-family: 'Karla', sans-serif;
    ;
}

.cari-kotak:hover>.cari-text {
    width: 250px;
    padding: 0 8px;
}

.cari-kotak:hover>.cari-tombol {
    background-color: aliceblue;
    color: 
    #152238 ;
}

.text h1:hover {
    color: #FFFFFF;
}