* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary-color: #060b22;
    --second-color: #0d0c0f;
    --text-color: #fff;
    --text-color-span: #e88e20;
    --big-font: 5rem;
    --medium-font: 2.5rem;
    --h2-font: 2.25rem;
    --p-font: 0.9 rem;
}

*::selection {
    background: var(--primary-color);
    color: var(--text-color);
}

body {
    color: var(--text-color);
    background: var(--primary-color);
    cursor: default;
}

img {
    width: 100%;
    height: auto;
}

span {
    color: #e88e20;
}

/* header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 170px;
    background: var(--primary-color);
    box-shadow: 2px 2px 4px var(--second-color);
} */


/* .logo {
    color: var(--text-color-span);
    font-weight: bold;
    font-size: 2.4rem;
}

.logo__span {
    color: var(--text-color);
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: bold;
}

.navbar a:hover {
    color: var(--text-color-span);
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
} */

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 170px;
    background: var(--primary-color);
    box-shadow: 2px 2px 4px var(--second-color);
    /* overflow-x: hidden; */
}
.logo a {
    color: var(--text-color);
    font-weight: bold;
    font-size: 2.4rem;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    margin: 0 8px;
}

.nav__link {
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: bold;
    color: var(--text-color);
}

.nav__link:hover {
    color: var(--text-color-span);
}

.nav__toogle,
.nav__close {
    display: none;
    cursor: pointer;
}

section {
    padding: 3rem 8rem;
}

.awal {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: center;
}   

.awal__foto {
    max-width: 100%;
    transition: all .3s;
}

.awal__foto img {
    width: 100%;
    height: auto;
    transform: scale(.8);
}

.awal__foto:hover {
    transform: scale(1.2);
}

.awal__text__span {
    /* font-size: var(--medium-font); */
    color: var(--text-color);
}

.awal__text h1 {
    font-size: var(--big-font);
    color: var(--text-color-span);
}

.tombol {
    padding: 10px 20px;
    background: var(--text-color-span);
    color: var(--text-color);
    border-radius: 0.5rem;
    transition: .8s;
}

.tomboldua {
    padding: 8px 20px;
    background: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    border-radius: 0.5rem;
    transition: .8s;
    margin-left: 8px;
}

.tombol:hover {
    /* transform: scale(1.2); */
    /* border: 1px solid var(--text-color); */
    background: var(--second-color);
    color: var(--text-color-span);
}

.tomboldua:hover {
    /* transform: scale(1.2); */
    color: var(--second-color);
    background: var(--text-color);

}

/* ABOUT */
.tentang {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: center;
}

.tentang__img {
    max-width: 100%;
    margin: auto;
    /* width: 500px; */
    /* height: auto; */
    /* transition: all 0.5s; */
}

/* .tentang__img img:hover {
    transform: scale(1.2);
} */

.tentang__text span {
    font-weight: bold;
    font-size: 1.5rem;
}

.tentang__text h2 {
    font-size: var(--medium-font);
}

/* Variasi */

.variasi__head {
    text-align: center;
}

.variasi__head span {
    font-weight: bold;
    font-size: 1.5rem;
}

.variasi__head h2 {
    font-size: var(--h2-font);
}

.variasi__iwak {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    gap: 2rem;
    /* align-items: center; */
}

.kotak {
    position: relative;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background: var(--second-color);
    border-radius: 2rem;
}

.kotak__img {
    height: 220px;
    width: 220px;
    transition: all 1s;
    z-index: 3;
    cursor: pointer;
}

.kotak__img img {
    transition: all .5s;
}

.kotak__img img:hover {
    transform: scale(1.2);
}

.kotak__teks {
    padding: 2em;
    line-height: 3em;
    text-align: center;
}

.kotak h2 {
    font-size: 1.3rem;
    color: var(--text-color-span);
}

.kotak h3 {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
}

.kotak .bx {
    background: var(--text-color-span);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 2rem 2em 2em 0;
}

/* Iwak */

.kontak__head {
    text-align: center;
}

.kontak__head h4 {
    color: var(--text-color-span);
    font-size: 1.5em;
}

.kontak__head h2 {
    font-size: var(--h2-font);
}

.kontak {
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 10% 10% 80%;
}

.kontak__sosmed {
    width: 100%;
    display: grid;
    align-items: center;
}

.kontak__sosmed i {
    font-size: 3rem;
    border: 1px solid var(--text-color);
    text-align: center;
    border-radius: 2em;
    cursor: pointer;
    transition: 0.4s;
}

.kontak__sosmed i:hover {
    background-color: var(--text-color-span);
    color: var(--text-color);
    transform: scale(1.2);
}

.kontak__teks__tengah {
    display: grid;
}

.kontak__teks__tengah h4 {
    grid-row: 1;
    text-align: center;
    writing-mode: vertical-rl;
    line-height: 5rem;
    transform: rotate(180deg);
    font-size: 2em;
    font-weight: 100;
}

.kontak .kontak__teks__tengah h4::before {
    height: 10px;
    width: 10px;
    background-color: #fff;
}

input[type=text],
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: var(--text-color-span);
    color: var(--text-color);
    padding: 12px 20px;
    border: none;
    border-radius: 2em;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: transparent;
    border: 2px solid var(--text-color);
    padding: 10px 20px;
}

/* Footer */
.footer {
    padding-top: 8em;
    padding-bottom: 8em;
}

.footer__main {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 35% 35%;
    gap: 5em;
    justify-content: center;
    align-items: center;
}

.footer__logo {
    text-align: justify;
}

.footer__logo i {
    /* transform: rotate(90deg); */
    font-size: 7em;
    float: left;
}

.footer__logo h1 {
    font-size: var(--medium-font);
    color: var(--text-color);
}

.footer__link {
    line-height: 50px;
    /* margin: auto; */
    /* justify-content: center; */
    columns: 2;
    position: relative;
    left: 50%;
}

.footer__link a {
    color: var(--text-color);
    font-size: 1.2em;
    font-weight: bold;
    transition: all 0.3s;
    text-transform: uppercase;
}

.footer__link li {
    transition: all 0.3s;
}

.footer__link li:hover {
    transform: scale(1.1);
}

.footer__link a:hover {
    color: var(--text-color-span);
    /* font-weight: bold; */
}

.footer__span {
    color: var(--text-color-span);
}

.footer__logo::after {
    content: "";
    clear: left;
}

/* Copiraik */
.copyright {
    font-size: 0.8em;
    text-align: center;
    padding: 10px;
}

.copyright a {
    color: var(--text-color-span);
}

.copyright i {
    color: var(--text-color-span);
    font-size: 1.2em;
}

/* Responsive */

@media screen and (max-width: 1560px) {

    :root {
        --big-font: 3.5rem;
        --h2-font: 2rem;
    }
}

@media screen and (max-width: 1140px) {
    section {
        padding: 50px 8%;
    }

    .footer__main {
        width: 100%;
        grid-template-columns: 30% 35% 35%;
        gap: 1em;
    }
}

@media screen and (max-width: 996px) {
    .logo a {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 940px) {
    header {
        justify-content: space-evenly;
    }
    .awal {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 0;
        padding-top: 200px;
    }
    .tentang {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

@media screen and (max-width: 720px) {

    section {
        padding: 70px 7%;
    }

    header {
        height: 60px;
        justify-content: space-between;
        padding: 0px 28px;
        line-height: 60px;
    }

    .logo a {
        font-size: 1.5rem;
    }

    .nav__toogle {
        display: inline;
        color: var(--text-color);
        font-size: 24px;
    }

    .nav__close {
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
    }

    .nav__close:hover {
        background-color: var(--primary-color);
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        background: rgba(0,0,0,0.5);
        /* box-shadow: 2px 2px 4px var(--second-color); */
        color: var(--text-color);
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: 9999;
        transition: 0.8s;
        backdrop-filter: blur(20px);
    }
    .nav__list {
        display: flex;
        flex-direction: column;
    }
    .nav__item {
        margin: 2rem 0;
    }
    .show {
        right: 0;
    }
    .awal {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 0;
        padding-top: 200px;
    }


    .tentang__img {
        order: 2;
    }

    .kontak__teks__tengah h4 {
        line-height: 3rem;
    }

    .footer__main {
        grid-template-columns: 1fr;
    }

    .footer__link {
        left: 0;
    }
}

@media screen and (max-width: 575px) {
    .variasi__iwak {
        justify-items: center;
    }

    .kotak {
        justify-content: center;
        width: 80%;
        height: 80%;
    }

    .kotak__img {
        height: 150px;
        width: 150px;
    }

    .kontak {
        position: relative;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .kontak__sosmed {
        /* width: 20%; */
        text-align: center;
        display: inline;
        margin: auto;
        padding-top: 40px;
        order: 2;
    }

    .kontak__sosmed i {
        background-color: var(--text-color-span);
    }

    .kontak__teks__tengah {
        display: none;
    }
    .footer__link a{
        font-size: 1em;
    }
    .copyright {
        font-size: 0.65em;
    }
}

@media screen and (max-width: 390px) {
    .awal__text h1 {
        font-size: var(--medium-font);
    }

    .awal__text h2 {
        font-size: 1.4rem;
    }

    .tentang__text h2 {
        font-size: 2rem;
    }
}