<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>White</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="https://res.cloudinary.com/bimoarifw/image/upload/v1657888836/bimoarifwlogo_yskk2j.png" type="image/x-icon">

</head>

<body>
    <ul class="galeri">
        <li><img src="img/1.jpg" alt=""></li>
        <li><img src="img/2.jpg" alt=""></li>
        <li><img src="img/3.jpg" alt=""></li>
        <li><img src="img/4.jpg" alt=""></li>
        <li><img src="img/5.jpg" alt=""></li>
        <li><img src="img/6.jpg" alt=""></li>
        <li><img src="img/7.jpg" alt=""></li>
        <li><img src="img/8.jpg" alt=""></li>
        <li><img src="img/9.jpg" alt=""></li>
        <li><img src="img/10.jpg" alt=""></li>
        <li><img src="img/11.jpg" alt=""></li>
        <li><img src="img/12.jpg" alt=""></li>
    </ul>
</body>

</html>